<!-- Use site-level portfolio positioning by default. -->
{{- $siteDescription := default .Site.Params.sidebar.subtitle .Site.Params.description -}}
{{- $description := $siteDescription -}}

{{- if .Description -}}
    {{- $description = .Description -}}
{{- else if .IsPage -}}
    {{- $description = .Summary -}}
{{- end -}}

{{- $description = replaceRE "\n" " " $description | plainify | strings.TrimSpace -}}
{{- if lt (strings.RuneCount $description) 70 -}}
    {{- $description = printf "%s - %s" $description $siteDescription -}}
{{- end -}}
{{- if gt (strings.RuneCount $description) 160 -}}
    {{- $description = truncate 157 $description -}}
{{- end -}}

{{ return $description }}
