{{- $pageTitle := .Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $paginator := partial "helper/paginator.html" . -}}

{{- $title := slice -}}

{{- if and $paginator $paginator.HasPrev -}}
    <!-- Add page number-->
    {{ $title = $title | append (printf "Page %d" $paginator.PageNumber) }}
{{- end -}}

{{- if .IsHome -}}
    {{- $title = $title | append (default $siteTitle .Site.Params.homeTitle) -}}
{{- else -}}
    {{- $title = $title | append (default $siteTitle $pageTitle) -}}
    {{- if ne (default $siteTitle $pageTitle) $siteTitle -}}
        {{- $title = $title | append $siteTitle -}}
    {{- end -}}
{{- end -}}

{{ return delimit $title " - " }}
