{{- $config := .Site.Params.comments.giscus -}}
{{- if and $config.repo $config.repoID $config.category $config.categoryID -}}
{{- $lang := $config.lang | default "zh-CN" -}}
{{- if eq .Site.Language.Lang "en" -}}
    {{- $lang = "en" -}}
{{- end -}}
<section class="comments-container" aria-label="Comments">
    <script
        src="https://giscus.app/client.js"
        data-repo="{{- $config.repo -}}"
        data-repo-id="{{- $config.repoID -}}"
        data-category="{{- $config.category -}}"
        data-category-id="{{- $config.categoryID -}}"
        data-mapping="{{- $config.mapping | default "pathname" -}}"
        data-strict="{{- $config.strict | default 0 -}}"
        data-reactions-enabled="{{- $config.reactionsEnabled | default 1 -}}"
        data-emit-metadata="{{- $config.emitMetadata | default 0 -}}"
        data-input-position="{{- $config.inputPosition | default "bottom" -}}"
        data-theme="{{- $config.lightTheme | default "light" -}}"
        data-lang="{{- $lang -}}"
        data-loading="{{- $config.loading | default "lazy" -}}"
        crossorigin="anonymous"
        async
    ></script>
    <script>
        function setGiscusTheme(theme) {
            const giscus = document.querySelector("iframe.giscus-frame");
            if (!giscus) return;

            giscus.contentWindow.postMessage(
                {
                    giscus: {
                        setConfig: {
                            theme: theme,
                        },
                    },
                },
                "https://giscus.app"
            );
        }

        (function () {
            const lightTheme = "{{- $config.lightTheme | default "light" -}}";
            const darkTheme = "{{- $config.darkTheme | default "dark" -}}";

            function handler() {
                const theme = document.documentElement.dataset.scheme === "light" ? lightTheme : darkTheme;
                setGiscusTheme(theme);
            }

            window.addEventListener("message", (event) => {
                if (event.origin !== "https://giscus.app") return;
                handler();
            });
            window.addEventListener("onColorSchemeChange", handler);
        })();
    </script>
</section>
{{- end -}}
